Level(
  clients: [
    ClientConfig(
      name: "user1",
      x: 0.0,
      y: 0.0,
      request_configs: [
        RequestConfig(
              url: "",
              path: "/",
              method: Get,
              body: "{}",
              trace_id: "F94A3B4B-B228-4B68-B554-FB044E5A9C3A"
        )  
      ]
    ),
  ]
)