Level(
  name: "Users API",
  description: 
r#"For this level, you are building a Users API to surface User information from a Database.

You must build a Server with two endpoints:
  
  1. An endpoint to return a single User from the Database by ID,
  2. An endpoint to return a list of all Users in the Database.

Inspect the Client's requests to figure out the endpoint paths.

Remember to use the appropriate status codes in your responses.

Good luck!"#,
  clients: [
    ClientConfig(
      name: "user1",
      x: 0.0,
      y: 0.0,
      request_configs: [
        RequestConfig(
              url: "users-api.com",
              path: "/users/0",
              method: Get,
              body: "{}",
              trace_id: "F94A3B4B-B228-4B68-B554-FB044E5A9C3A",
              expectations: [Status(200), ExactBody({
                "id": 0,
                "name": "Alice",
                "age": 51
              })],
              expectations_results: []
        ),
              RequestConfig(
              url: "users-api.com",
              path: "/users",
              method: Get,
              body: "{}",
              trace_id: "BC5AD600-3FE8-4571-AA95-0BCEB01D7E58",
              expectations: [Status(200), 
              ExactSet(
                [
                  {
                    "id": 0,
                    "name": "Alice",
                    "age": 51
                  },
                  {
                    "id": 1,
                    "name": "Bob",
                    "age": 28
                  },
                  {
                    "id": 2,
                    "name": "Charlie",
                    "age": 66
                  }
                ]
              )],
              expectations_results: []
        )   
      ]
    ),
  ],
  databases: [
    DatabaseConfig(
      name: "User Database",
      hostname: "users-db",
      x: 0.0,
      y: 200.0,
      initial_documents: [
        {
          "id": 0,
          "name": "Alice",
          "age": 51
        },
        {
          "id": 1,
          "name": "Bob",
          "age": 28
        },
        {
          "id": 2,
          "name": "Charlie",
          "age": 66
        }
      ]
    )
  ],
  servers: []
)